/* Add CSS Styling */
.clickme{
    background-color: #000000;
    color: #ffffff;
}

.no{
    background-color: #FFB121;
}

.click{
    font-size: 28px;
    font-family: Helvetica, 'Times New Roman', sans-serif;
}
